html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.cloudinary-content {
  width: 100%;
}
.cloudinary-content.active {
  min-height: 600px;
}
