html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.cloudinary-content {
  width: 100%;
}
.cloudinary-content.active {
  min-height: 600px;
}
.preview figure {
  margin: 0;
}
.preview img {
  display: block;
  margin: 1rem auto;
}
.preview p {
  text-align: center;
}
.clear-link {
  margin-left: 1rem;
}
